mixin showPackageDiscountCurrencyIfApplicable(package)
    - if( package.discount.strategy === "currency" )
      span
        | #{package.currency}
      &nbsp;

mixin showPackageDiscountPercentageIfApplicable(package)
    - if( package.discount.strategy === "percentage" )
      span
        | %

mixin getFormattedDate(dateString)
  - var date = (new Date( dateString )).toString().substr(4, 11)
    | #{date}
