mixin showPackageDiscountCurrencyIfApplicable(package)
    - if( package.discount.type === "currency" )
      span
        | #{package.currency}&nbsp;

mixin showPackageDiscountPercentageIfApplicable(package)
    - if( package.discount.type === "percentage" )
      span
        | %