body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.package-tests {
  margin-top: 30px;
}

/* 
  ===== Get footer at the absolute bottom =====
/*
body {
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
*/