/* line 1, ../sass/style.scss */
body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* 
  ===== Get footer at the absolute bottom =====
/*
body {
  min-height: 100vh;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
*/
