extends layout

include _includes/sharedHtmlFunctions

block pagescripts
    script(src='/js/services/crud.js')
    script(src='/js/services/order.js')
    script(src='/js/page-scripts/orders.js')

block content
    .page-header
        h1 #{pageHeader}
            button#btn-create.btn.btn-primary.pull-right(role='button', data-toggle="modal", data-target='#place-order-dialog')
                i.fa.fa-plus
                | &nbsp; Place new order
    
    .table-responsive
        table.table.table-bordered.table-striped.table-hover
            thead.bg-primary
                tr
                    th Patient name
                    th Date Created
                    th Date Last Modified
                    th Order Status
                    th Report Status
                    th Report Created 
                    th Report Last Modified 
                    th Actions 
            tbody
                each order in orders
                    +renderOrderRow(order)

block globalcontent
    #place-order-dialog.modal.fade
        .modal-dialog
            .modal-content
                .modal-header.bg-primary
                    button.close(type="button", data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Place New Order
                .modal-body
                    | &nbsp;
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                    | &nbsp;
                    button#btn-place-order.btn.btn-primary(type="button") Place order