extends layout

include _includes/sharedHtmlFunctions

block pagescripts
    script(src='/js/services/crud.js')
    script(src='/js/services/package.js')
    script(src='/js/services/package-test.js')
    script(src='/js/page-scripts/packages.js')
    script(src='/js/page-scripts/packages-tests.js')

block content
    .page-header
        h1 #{pageHeader}
            button#btn-create.btn.btn-primary.pull-right(role='button', data-toggle="modal", data-target='#create-update-dialog')
                i.fa.fa-plus
                | &nbsp; Add package

    +renderPaginator(count, start, end, page, 'packages')

    #package-list.panel-group
        each package, index in packages
            +renderPackagePanel(package, index)

block globalcontent
    #create-update-dialog.modal.fade
        .modal-dialog
            .modal-content
                .modal-header.bg-primary
                    button.close(type="button", data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Add/Update Package Details
                .modal-body
                    form.form-horizontal
                        .form-group
                            label.control-label.col-md-4(for="name") Name
                            .col-md-8
                                input#name.form-control(type="text", placeholder="eg. Diabetes package")
                        .form-group
                            label.control-label.col-md-4(for="price") Price (in Rs.)
                            .col-md-8
                                input#price.form-control(type="text", placeholder="eg. 1200")
                        .form-group
                            label.control-label.col-md-4(for="discountAmount") Discount (in Rs. or %)
                            .col-md-8
                                input#discountAmount.form-control(type="text", placeholder="eg. 20")
                        .form-group
                            label.control-label.col-md-4(for="discountStrategy") Type
                            .col-md-8
                                select#discountStrategy.form-control
                                    option(value="absolute") Rupees
                                    option(value="percentage") %
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                    | &nbsp;
                    button#btn-create-update.btn.btn-primary(type="button") Add/Update

    #add-tests-dialog.modal.fade
        .modal-dialog
            .modal-content
                .modal-header.bg-primary
                    button.close(type="button", data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Select &amp; Add Test to Package
                .modal-body
                    form.form-horizontal
                        .form-group
                            label.control-label.col-md-4(for="tests") Tests
                            .col-md-8
                                select#tests.form-control
                                    each test in tests
                                        option(value="#{test._id}") #{test.name}
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                    | &nbsp;
                    button#btn-add-tests.btn.btn-primary(type="button") Add Test