extends layout

include _includes/sharedHtmlFunctions

block pagestyles
    link(rel='stylesheet', href='/css/page-styles/patients.css')

block pagescripts
    script(src='/js/services/crud.js')
    script(src='/js/services/patient.js')
    script(src='/js/services/test.js')
    script(src='/js/services/package.js')
    script(src='/js/page-scripts/patients.js')

block content
    .page-header
        h1 #{pageHeader}
            button#btn-create.btn.btn-primary.pull-right(role='button', data-toggle="modal", data-target='#create-update-dialog')
                i.fa.fa-plus
                | &nbsp; Add patient
    
    .table-responsive
        table.table.table-bordered.table-striped.table-hover
            thead.bg-primary
                tr
                    th Name
                    th Date of Birth
                    th Age
                    th Sex
                    th Phone number(s)
                    th Email id(s)
                    th Actions
            tbody
                each patient in patients
                    +renderPatientRow(patient)

block globalcontent
    #create-update-dialog.modal.fade
        .modal-dialog
            .modal-content
                .modal-header.bg-primary
                    button.close(type="button", data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Add/Update Patient Details
                .modal-body
                    form.form-horizontal
                        .form-group
                            label.control-label.col-md-4(for="name") Name
                            .col-md-8
                                input#name.form-control(type="text", placeholder="eg. Ravi Kumar")
                        .form-group
                            label.control-label.col-md-4(for="dob") Date of Birth
                            .col-md-8
                                input#dob.form-control(type="date", placeholder="Select a date")
                        .form-group
                            label.control-label.col-md-4(for="sex") Sex
                            .col-md-8
                                select#sex.form-control
                                    option(value="male") Male
                                    option(value="female") Female
                                    option(value="other") Other
                                    option(value="unspecified") Not specified
                        .form-group
                            label.control-label.col-md-4(for="phones") Phone number(s)
                            #phones.col-md-8
                                .input-padded-right
                                    input.form-control(type="tel", placeholder="eg. +91-9448441480")
                                    i.btn-action.btn-add-phone.fa.fa-plus
                        .form-group
                            label.control-label.col-md-4(for="emails") Email id(s)
                            #emails.col-md-8
                                .input-padded-right
                                    input.form-control(type="email", placeholder="eg. ravi.kumar@gmail.com")
                                    i.btn-action.btn-add-email.fa.fa-plus
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                    | &nbsp;
                    button#btn-create-update.btn.btn-primary(type="button") Add/Update

    #place-order-dialog.modal.fade
        .modal-dialog
            .modal-content
                .modal-header.bg-primary
                    button.close(type="button", data-dismiss="modal" aria-hidden="true") &times;
                    h4.modal-title Place an order
                .modal-body
                    form.form-horizontal
                        .form-group
                            label.control-label.col-md-4(for="search") Name
                            .col-md-8
                                input#search.form-control(type="search", placeholder="eg. Lipid profile")
                    #search-results
                        .row
                            .col-md-6
                                h5.results-title Tests
                                ul#search-results-tests
                            .col-md-6
                                h5.results-title Packages
                                ul#search-results-packages
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") Cancel
                    | &nbsp;
                    button#btn-place-order.btn.btn-primary(type="button") Place order