.cell-order-status, .cell-report-status {
    text-transform: capitalize;
}

.cell-order-createdDate,
.cell-order-lastModifiedDate,
.cell-report-createdDate,
.cell-report-lastModifiedDate {
    font-size: 0.8em;
}

.cell-order-createdDate .time,
.cell-order-lastModifiedDate .time,
.cell-report-createdDate .time,
.cell-report-lastModifiedDate .time {
    font-size: 0.8em;
}

#report-patient-name,
#report-order-status,
#report-report-status {
    font-weight: bold;
    text-transform: capitalize;
}

#report-patient-emails,
#report-patient-phones,
#report-order-createdDate,
#report-order-lastModifiedDate,
#report-report-createdDate,
#report-report-lastModifiedDate {
    font-size: 0.8em;
}